### https://raw.github.com/github/gitignore/da00310ccba9de9a988cc973ef5238ad2c1460e9/Global/Vim.gitignore

[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~


### https://raw.github.com/github/gitignore/da00310ccba9de9a988cc973ef5238ad2c1460e9/Composer.gitignore

composer.phar
vendor/

# Commit your application's lock file http://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
composer.lock


### https://raw.github.com/github/gitignore/da00310ccba9de9a988cc973ef5238ad2c1460e9/Global/Linux.gitignore

*~

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# OMG MAC OSX WHY?!
.DS_Store

# PHPUnit xml
phpunit.xml
